extends layout

block content
  //- if allArticles.title
  for article in allArticles
    div.row
      if article.backgroundUrl
        div.head(style='background-image: url("#{article.backgroundUrl}")')
          if article.hasDarkColors
            h3
              a(href='/article/' + article._id, style='color:white;')= article.title
          else 
            h3
              a(href='/article/' + article._id, style='color: black')= article.title
      else
        div.head(style='background-image: url("/images/concrete_seamless.png")')
          h3
            a(href='/article/' + article._id, style='color: black')= article.title
      div.content
        p= article.excerpt
  //- else 
  //-   div(style='text-align: center; padding-top: 20px;').row
  //-     h2 There are no articles yet, be the first to add one!
  //-     div(style='background-color: black').splash-button
  //-       a(href='/new-article') Create Article
  a.splash-button(href='/new-article') Create Article
